In [24]:
import pandas as pd

gallery = pd.read_csv('original_datasets/gallery.csv', low_memory=False)
queries = pd.read_csv('original_datasets/queries.csv', low_memory=False)

display(gallery.head())
display(queries.head())

   seller_img_id                                          img_path  product_id
0              0      gallery/ambitious-tough-teal-from-asgard.jpg        5019
1              1         gallery/fine-shrewd-oarfish-of-genius.jpg        5008
2              2       gallery/bold-nickel-gecko-of-reputation.jpg           9
3              3  gallery/marvellous-uber-boobook-of-lightning.jpg        3589
4              4     gallery/bouncy-economic-agama-of-honeydew.jpg        3656

,user_img_id,img_path,bbox_x,bbox_y,bbox_w,bbox_h,product_id
0,0,queries/magnetic-powerful-platypus-of-hail.jpeg,0,212,740,664,5013
1,1,queries/free-keen-mole-of-cookies.jpeg,0,43,714,378,3550
2,2,queries/hilarious-precious-parakeet-of-adverti...,240,310,395,405,71
3,3,queries/optimal-uptight-ringtail-of-cleaning.jpeg,0,242,475,627,3566
4,4,queries/nonchalant-impala-of-fabulous-artistry...,350,125,150,81,5329

In [25]:
gallery.drop(['seller_img_id'], axis=1, inplace=True)
queries.drop(['user_img_id'], axis=1, inplace=True)

display(gallery.head())
display(queries.head())

                                           img_path  product_id
0      gallery/ambitious-tough-teal-from-asgard.jpg        5019
1         gallery/fine-shrewd-oarfish-of-genius.jpg        5008
2       gallery/bold-nickel-gecko-of-reputation.jpg           9
3  gallery/marvellous-uber-boobook-of-lightning.jpg        3589
4     gallery/bouncy-economic-agama-of-honeydew.jpg        3656

,img_path,bbox_x,bbox_y,bbox_w,bbox_h,product_id
0,queries/magnetic-powerful-platypus-of-hail.jpeg,0,212,740,664,5013
1,queries/free-keen-mole-of-cookies.jpeg,0,43,714,378,3550
2,queries/hilarious-precious-parakeet-of-adverti...,240,310,395,405,71
3,queries/optimal-uptight-ringtail-of-cleaning.jpeg,0,242,475,627,3566
4,queries/nonchalant-impala-of-fabulous-artistry...,350,125,150,81,5329

In [26]:
gallery.columns = ['img', 'id']
queries.columns = ['img', 'bbox_x', 'bbox_y', 'bbox_w', 'bbox_h', 'id']

queries['img'] = queries['img'].apply(lambda x: str(x).split('/')[1])
gallery['img'] = gallery['img'].apply(lambda x: str(x).split('/')[1])

gallery.reset_index(drop=True, inplace=True)
queries.reset_index(drop=True, inplace=True)

display(gallery.head())
display(queries.head())

                                        img    id
0      ambitious-tough-teal-from-asgard.jpg  5019
1         fine-shrewd-oarfish-of-genius.jpg  5008
2       bold-nickel-gecko-of-reputation.jpg     9
3  marvellous-uber-boobook-of-lightning.jpg  3589
4     bouncy-economic-agama-of-honeydew.jpg  3656

,img,bbox_x,bbox_y,bbox_w,bbox_h,id
0,magnetic-powerful-platypus-of-hail.jpeg,0,212,740,664,5013
1,free-keen-mole-of-cookies.jpeg,0,43,714,378,3550
2,hilarious-precious-parakeet-of-advertising.jpeg,240,310,395,405,71
3,optimal-uptight-ringtail-of-cleaning.jpeg,0,242,475,627,3566
4,nonchalant-impala-of-fabulous-artistry.jpeg,350,125,150,81,5329

In [27]:
gallery.to_csv('generated_datasets/test_gallery.csv')
queries.to_csv('generated_datasets/test_queries.csv')