In [5]:
import pandas as pd

train = pd.read_csv('generated_datasets/train_dataset.csv')
display(train.head())
gallery = pd.read_csv('generated_datasets/test_gallery.csv')
display(gallery.head())

   Unnamed: 0         img1         img2  label
0           0  6642981.jpg    22181.jpg      0
1           1    33748.jpg    33780.jpg      1
2           2  2697545.jpg    14700.jpg      0
3           3    24988.jpg    24988.jpg      1
4           4    14226.jpg  9180662.jpg      0

   Unnamed: 0                                       img    id
0           0      ambitious-tough-teal-from-asgard.jpg  5019
1           1         fine-shrewd-oarfish-of-genius.jpg  5008
2           2       bold-nickel-gecko-of-reputation.jpg     9
3           3  marvellous-uber-boobook-of-lightning.jpg  3589
4           4     bouncy-economic-agama-of-honeydew.jpg  3656

In [7]:
print(train.iloc[0, 1], train.iloc[0, 2], train.iloc[0, 3])
print(gallery.iloc[0, 1], gallery.iloc[0, 2])

6642981.jpg 22181.jpg 0
ambitious-tough-teal-from-asgard.jpg 5019